<launch>
  <node name="sweep_node" pkg="l3xz" type="l3xz_sweep_node" output="screen" ns="l3xz">
    <param name="serial_port"     type="string" value="/dev/ttyUSB0"/>
    <param name="serial_baudrate" type="int"    value="115200"/>
    <param name="frame_id"        type="string" value="laser_link"/>
    <param name="rotation_speed"  type="int"    value="1"/>
  </node>
  <node pkg="tf" type="static_transform_publisher" name="base_link_to_laser" args="0.06 0 0.08 0 0 0 base_link laser_link 100"/>
</launch>
